html {
  font-family: 'Open Sans', sans-serif;
  overflow-y: scroll;
}
body {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#111), to(#333));
  background: -webkit-linear-gradient(top, #111, #333);
  background: -moz-linear-gradient(top, #111, #333);
  background: -ms-linear-gradient(top, #111, #333);
  background: -o-linear-gradient(top, #111, #333);
  color: #ddd;
  font-size: 16px;
  line-height: 1.428;
}
#header {
  height: 250px;
  color: #254467;
  background: url('/assets/images/header.png') #f9ed32 no-repeat fixed top left;
  margin: -20px -15px;
}
#header h1 {
  padding: 150px 0 0 350px;
  font-size: 350%;
  font-weight: bold;
}
#header h1 a {
  color: #254467;
}
#header img {
  position: absolute;
  top: 20px;
  left: 215px;
}
.links {
  background-color: #254467;
  padding: 5px 0;
}
.links a {
  color: #ddd;
  text-decoration: none;
}
.links a:hover {
  text-decoration: underline;
}
#photo {
  margin: 0 -15px;
  height: 320px;
}
#content {
  padding: 30px 0;
}
.bg-lvac {
  padding: 20px 30px;
  font-size: 200%;
  color: #f9ed32;
  background-color: #254467;
}
