#container {
  width: 960px;
  max-width: 90%;
  margin: 0 auto;
}
#header {
  height: 250px;
  color: #254467;
  background: url('/assets/images/header.png') #f9ed32 no-repeat top left;
  margin: -20px 0;
  position: relative;
}
#header h1 {
  padding: 150px 0 0 200px;
  font-size: 350%;
  font-weight: bold;
  margin: 0;
}
#header img {
  position: absolute;
  top: 20px;
  left: 215px;
}
#main {
  width: 620px;
  float: left;
}
#sidebar {
  width: 310px;
  float: right;
}
.twocol, .onecol {
  width: 290px;
  float: left;
  padding: 0 10px;
}
.video {
  overflow: hidden;
  width: 290px;
  height: 180px;
}

