{% extends 'base.html' %}

{% block title %}News Archive - {% endblock %}
{% block content %}
<div class="row">
  <div class="bar">
    &nbsp;
  </div>
</div>
<div class="row content">
  <div class="col-md-12">
    <hr>
    {% for article in news %}
    <h3><a href="/news/{{ article.getSlug }}">{{ article.getTitle }}</a>
      <small>{{ article.getDate | date("l, F jS, Y") }}</small>
    </h3>
    <p>{{ article.getTeaser|raw }}</p>
    <hr>
    {% endfor %}
    <ul class="pager">
      {% if older %}
      <li class="previous"><a href="/news/{{ older }}">&larr; Older</a></li>
      {% endif %}
      {% if newer %}
      <li class="next"><a href="/news/{{ newer }}">Newer &rarr;</a></li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
