{% extends 'base.html' %}

{% block title %}Races - {% endblock %}
{% block content %}
<div class="row">
  <div class="bar">
    &nbsp;
  </div>
</div>
<div class="row content">
  <div class="col-md-6">
    <h2>Upcoming Races</h2>
    {% if races %}
    {% for race in races %}
    <div class="title">
      <a href="/races/{{ race.getSlug }}">{{ race.getTitle }}</a>
      {{ race.getDate | date("l, F jS, Y \\a\\t g:ia") }}
    </div>
    {% endfor %}
    {% else %}
    <p>There are no races coming up</p>
    {% endif %}
  </div>
  <div class="col-md-6">
    <h2>Previous Races</h2>
    {% if results %}
    {% for result in results %}
    <div class="title">
      <a href="/races/{{ result.getSlug }}">{{ result.getTitle }}</a>
      {{ result.getDate | date("l, F jS, Y \\a\\t g:ia") }}
    </div>
    {% endfor %}
    {% else %}
    <p>There are no race results</p>
    {% endif %}
  </div>
</div>
{% endblock %}
