{% extends 'base.html' %}

{% block title %}Races - {% endblock %}
{% block content %}
<div class="row">
  <div class="bar">
    &nbsp;
  </div>
</div>
<div class="row content">
  <div class="col-md-6">
    <h2>Previous Races</h2>
    <hr>
    {% for result in results %}
    <div class="title">{{ result.getTitle }}</div>
    <hr>
    {% endfor %}
  </div>
  <div class="col-md-6">
    <h2>Upcoming Races</h2>
    <hr>
    {% for race in races %}
    <div class="title">{{ race.getTitle }}</div>
    <hr>
    {% endfor %}
  </div>
</div>
{% endblock %}
