<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Liffey Valley Athletics Club</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/assets/css/lvac.css" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1><a href="/"><span class="yellow">Liffey</span> Valley Athletics Club</a></h1>
        <a href="/"><img src="/assets/images/new_logo.png" alt=""></a>
      </div>
      <div class="links">
        <ul class="navlist">
          <li><a href="/">Home</a></li>
          <li><a href="#">Training</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Fixtures</a></li>
          <li><a href="#">History</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Members</a></li>
        </ul>
      </div>
      {% block content %}
      {% endblock %}
      <div id="footer">
        <p>Liffey Valley Athletics Club, Sandpitts Cottage, Islandbridge, Dublin 8</p>
        <p>Contact: Club Secretary, Mark Toher (087 9558320) or marktoherlvac@gmail.com</p>
      </div>
    </div>
  </body>
</html>
