{% extends 'base.html' %}

{% block title %}Gallery - {% endblock %}
{% block content %}
<div class="row">
  <div class="bar">
    &nbsp;
  </div>
</div>
<div class="row content">
  <div class="col-md-8">
    <a href="https://www.flickr.com/photos/108994068@N03/10913738885" title="dublin_novice10 by Liffey Valley AC, on Flickr"><img src="https://farm4.staticflickr.com/3748/10913738885_4e0e1ae637_s.jpg" alt="dublin_novice10" class="img-thumbnail"></a>
    <a href="https://www.flickr.com/photos/108994068@N03/10913879424" title="dublin_novice08 by Liffey Valley AC, on Flickr"><img src="https://farm4.staticflickr.com/3785/10913879424_0fc4030855_s.jpg" alt="dublin_novice08" class="img-thumbnail"></a>
  </div>
</div>
{% endblock %}
