{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <h2>Who are we?</h2>
    <p>Liffey Valley AC was founded in 1974 from the amalgamation of two other clubs Avondale A.C. and Inchicore A.C.</p>
    <h2>Where are we?</h2>
    <p>We are based in Islandbridge close to the Phoenix Park.</p>
    <h2>When do we train?</h2>
    <p>We train on Tuesday and Thursday nights at 7pm and Saturday mornings at 10am</p>
    <img src="assets/images/legs.jpg" />
  </div>
  <div class="col-md-6">
    <h2>Club News</h2>
    <div class="news">
      <h3><a href="#">Liffey Valley Womens Team Win Dublin Novice Cross Country</a></h3>
      <small>6 October 2013</small>
      <p>This was the first time a Liffey Valley Womens team won a championship team award and all seven girls in action are to be congratulated on their performance. It was a very competitive team event with a record 12 teams in action.</p>
    </div>
    <div class="news">
      <h3><a href="#">Club AGM</a></h3>
      <small>10 September 2013</small>
      <p>The Club AGM will take place on a October 1st at 8pm. All members are requested to attend. Training will commence at the earlier time of 6.30pm.</p>
    </div>
  </div>
</div>
{% endblock %}
